name: CI/CD to GKE

on:
  push:
    branches: [ "main" ]

env:
  PROJECT_ID: ultra-cinema-473010-q9
  LOCATION: us-central1
  REPOSITORY: iris-repo
  IMAGE_NAME: iris-api
  CLUSTER_NAME: iris-cluster
  ZONE: us-central1-a

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v1
      with:
        credentials_json: ${{ secrets.GCP_CREDENTIALS }}

    - name: Configure Docker for Artifact Registry
      run: gcloud auth configure-docker ${{ env.LOCATION }}-docker.pkg.dev --quiet

    - name: Build and Push Docker image to Artifact Registry
      uses: docker/build-push-action@v4
      with:
        push: true
        tags: |
          ${{ env.LOCATION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPOSITORY }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
          ${{ env.LOCATION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPOSITORY }}/${{ env.IMAGE_NAME }}:latest

    - name: Get GKE credentials
      uses: google-github-actions/get-gke-credentials@v1
      with:
        cluster_name: iris-cluster
        location: asia-south1-a
        project_id: ${{ env.PROJECT_ID }}


    - name: Deploy to GKE
      run: |
        kubectl set image deployment/iris-api iris-container=${{ env.LOCATION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPOSITORY }}/${{ env.IMAGE_NAME }}:${{ github.sha }} --record
        kubectl rollout status deployment/iris-api --timeout=180s

